/* line 9, scss/app.scss */
.small {
  font-size: 0.75rem; }

/* line 13, scss/app.scss */
html, body {
  -webkit-font-smoothing: antialiased; }

/* line 16, scss/app.scss */
body {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 29, scss/app.scss */
.tab-bar {
  background: transparent; }
/* line 32, scss/app.scss */
.tab-bar .tab-bar-section h1.title {
  color: #333; }
/* line 38, scss/app.scss */
.tab-bar .menu-icon span:after {
  box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333; }

/* line 51, scss/app.scss */
section.max {
  max-width: 960px;
  margin: 0 auto; }

/* line 56, scss/app.scss */
section.saveTheDate {
  border-top: 1px solid #000;
  background-color: #333333; }
/* line 59, scss/app.scss */
section.saveTheDate p {
  color: #ffffff;
  margin-bottom: 0;
  text-shadow: 2px 2px 1px #000;
  font-size: 0.9rem;
  margin: 0.5rem 0; }
/* line 66, scss/app.scss */
section.saveTheDate a {
  color: #ffffff; }
/* line 68, scss/app.scss */
section.saveTheDate a:hover, section.saveTheDate a:active, section.saveTheDate a:focus {
  text-decoration: underline; }

/* line 75, scss/app.scss */
section.header h1 {
  font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0; }
/* line 83, scss/app.scss */
section.header .hero {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75); }
/* line 87, scss/app.scss */
section.header .hero img {
  width: 100%; }

/* line 93, scss/app.scss */
section.details {
  margin-top: 2rem; }
/* line 95, scss/app.scss */
section.details h2 {
  font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
/* line 98, scss/app.scss */
section.details h2.tile {
  text-align: center;
  background-size: 3rem;
  background-position: left 0;
  background-origin: content-box;
  background-repeat: no-repeat;
  /*
  &:after{
  	content: "";
  	height: 1px;
  	background-color: #999;
  	width: 90%;
  	display: block;
  	margin: 1rem 0;
  }
  */ }
@media screen and (max-width: 880px) {
  /* line 98, scss/app.scss */
  section.details h2.tile {
    text-align: left;
    background-position: 65% center; } }
@media screen and (max-width: 705px) {
  /* line 98, scss/app.scss */
  section.details h2.tile {
    text-align: center;
    background-position: left 0 !important; } }
/* line 123, scss/app.scss */
section.details h2.ceremony {
  background-image: url("../images/icon-marriage.jpg"); }
@media screen and (max-width: 880px) {
  /* line 123, scss/app.scss */
  section.details h2.ceremony {
    background-position: 85% center; } }
@media screen and (max-width: 860px) {
  /* line 123, scss/app.scss */
  section.details h2.ceremony {
    background-position: right center; } }
/* line 133, scss/app.scss */
section.details h2.toast {
  background-image: url("../images/icon-toast.jpg"); }
/* line 136, scss/app.scss */
section.details h2.party {
  background-image: url("../images/icon-party.jpg"); }
/* line 142, scss/app.scss */
section.details .lastChance {
  margin: 2rem 0;
  text-align: center; }
/* line 145, scss/app.scss */
section.details .lastChance:after, section.details .lastChance:before {
  height: 1px;
  width: 100%;
  background-color: #999;
  display: block;
  content: ""; }
/* line 152, scss/app.scss */
section.details .lastChance:after {
  margin-top: 2rem; }
/* line 155, scss/app.scss */
section.details .lastChance:before {
  margin-bottom: 1rem; }
/* line 160, scss/app.scss */
section.details p.dateTime {
  font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.9rem; }

/* line 167, scss/app.scss */
section.other .head {
  margin: 1rem 0;
  background-image: url("../images/hero3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 18rem;
  position: relative; }
/* line 175, scss/app.scss */
section.other .head h2 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 0 #1f1f1f; }
/* line 183, scss/app.scss */
section.other h2 {
  font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
/* line 187, scss/app.scss */
section.other h2.tile {
  text-align: left;
  text-indent: 4rem;
  background-size: 3rem;
  background-position: left center;
  background-origin: content-box;
  background-repeat: no-repeat;
  /*	
  &:after{
  	content: "";
  	height: 1px;
  	background-color: #999;
  	width: 90%;
  	display: block;
  	margin: 1rem 0;
  }
  */ }
/* line 205, scss/app.scss */
section.other h2.hotels {
  background-image: url("../images/icon-hotel.jpg"); }
/* line 208, scss/app.scss */
section.other h2.parking {
  background-image: url("../images/icon-parking.jpg"); }
/* line 211, scss/app.scss */
section.other h2.drunkDriving {
  background-image: url("../images/icon-drunkCar.jpg"); }
/* line 214, scss/app.scss */
section.other h2.dress {
  background-image: url("../images/icon-dress.jpg");
  background-size: 2rem; }

/* line 222, scss/app.scss */
.fourPanel img {
  width: 100%; }

/* line 227, scss/app.scss */
section.contact {
  margin: 2rem auto; }
/* line 229, scss/app.scss */
section.contact h2 {
  font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
/* line 232, scss/app.scss */
section.contact h2.tile {
  text-align: left;
  text-indent: 4rem;
  background-size: 2rem;
  background-position: left center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: url("../images/icon-contact.jpg"); }
