// ------------- colors
$white: #ffffff;
$dark-grey: #333333;

// ------------- fonts
$font-oswald: 'Oswald', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-openSans: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-openSansCondensed: 'Open Sans Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
.small{
	font-size: 0.75rem;
}

html, body{
	-webkit-font-smoothing: antialiased;
}
body{
	font-family: $font-openSans;
}

// ------------- container styles
.container{
	// max-width: 960px;
}
.content{
 
}

// ------------- mobile nav
.tab-bar{
	background: transparent;
	.tab-bar-section{
		h1.title{
			color: #333;
		}
	}
	.menu-icon{
		span{
			&:after{
				box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;
			}
		}
	}
}


// ------------- sections
section{

}

section.max{
	max-width: 960px;
	margin: 0 auto;
}

section.saveTheDate{
	border-top: 1px solid #000;
	background-color: $dark-grey;
	p{
		color: $white;
		margin-bottom: 0;
		text-shadow: 2px 2px 1px #000;
		font-size: 0.9rem;
		margin: 0.5rem 0;
	}
	a{
		color: $white;
		&:hover, &:active, &:focus{
			text-decoration: underline;
		}
	}
}

section.header{
	h1{
		font-family: $font-oswald;
		font-weight: 300;
		text-transform: uppercase;
		// text-shadow: 2px 2px 4px #999;
		text-align: center;
		margin: 2rem 0;
	}
	.hero{
		-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.75);		
		img{
			width: 100%;
		}
	}
}

section.details{
	margin-top: 2rem;
	h2{
		font-family: $font-oswald;
		font-weight: 300;
		&.tile{
			text-align: center;
			background-size: 3rem;
			background-position: left 0;
			background-origin: content-box;
			background-repeat: no-repeat;	
			@media screen and (max-width: 880px) {
				text-align: left;
				background-position: 65% center;
			}
			@media screen and (max-width: 705px) {
				text-align: center;
				background-position: left 0 !important;
			}
			/*
			&:after{
				content: "";
				height: 1px;
				background-color: #999;
				width: 90%;
				display: block;
				margin: 1rem 0;
			}
			*/
		}
		&.ceremony{
			background-image: url('../images/icon-marriage.jpg');
			@media screen and (max-width: 880px) {
				background-position: 85% center;
			}
			@media screen and (max-width: 860px) {
				background-position: right center;

			}
		}
		&.toast{
			background-image: url('../images/icon-toast.jpg');
		}
		&.party{
			background-image: url('../images/icon-party.jpg');
		}
	

	}
	.lastChance{
		margin: 2rem 0;
		text-align: center;
		&:after, &:before{
			height: 1px;
			width: 100%;
			background-color: #999;
			display: block; 
			content: "";
		}
		&:after{
			margin-top: 2rem;
		}
		&:before{
			margin-bottom: 1rem;
		}

	}
	p.dateTime{
		font-family: $font-oswald;
		font-size: 0.9rem;
	}
}

section.other{
	.head{
		margin: 1rem 0;
		background-image: url('../images/hero3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 18rem;
		position: relative;
		h2{
			position: absolute;
			bottom: 1rem;
			left: 2rem;
			color: $white;
			text-shadow: 2px 2px 0 #1f1f1f;
		}
	}			
	h2{
		font-family: $font-oswald;
		font-weight: 300;

		&.tile{
			text-align: left;
			text-indent: 4rem;
			background-size: 3rem;
			background-position: left center;
			background-origin: content-box;
			background-repeat: no-repeat;		
			/*	
			&:after{
				content: "";
				height: 1px;
				background-color: #999;
				width: 90%;
				display: block;
				margin: 1rem 0;
			}
			*/
		}			
		&.hotels{
			background-image: url('../images/icon-hotel.jpg');
		}
		&.parking{
			background-image: url('../images/icon-parking.jpg');
		}
		&.drunkDriving{
			background-image: url('../images/icon-drunkCar.jpg');
		}	
		&.dress{
			background-image: url('../images/icon-dress.jpg');
			background-size: 2rem;
		}
	}
}

.fourPanel{
	img{
		width: 100%;
	}
}

section.contact{
	margin: 2rem auto;
	h2{
		font-family: $font-oswald;
		font-weight: 300;
		&.tile{
			text-align: left;
			text-indent: 4rem;
			background-size: 2rem;
			background-position: left center;
			background-origin: content-box;
			background-repeat: no-repeat;
			background-image: url('../images/icon-contact.jpg');

		}
	}
}
