// ------------- colors
$white: #ffffff;
$dark-grey: #333333;

// ------------- fonts
$font-oswald: 'Oswald', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-openSans: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-openSansCondensed: 'Open Sans Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


html, body{
	-webkit-font-smoothing: antialiased;
}
body{
	font-family: $font-openSans;
}

// ------------- container styles
.container{
	// max-width: 960px;
}
.content{
 
}

// ------------- mobile nav
.tab-bar{
	background: transparent;
	.tab-bar-section{
		h1.title{
			color: #333;
		}
	}
	.menu-icon{
		span{
			&:after{
				box-shadow: 0 0 0 1px #333, 0 7px 0 1px #333, 0 14px 0 1px #333;
			}
		}
	}
}


// ------------- sections

section.saveTheDate{
	border-top: 1px solid #000;
	background-color: $dark-grey;
	p{
		color: $white;
		margin-bottom: 0;
		text-shadow: 2px 2px 1px #000;
		font-size: 0.9rem;
		margin: 0.5rem 0;
	}
}

section.header{
	h1{
		font-family: $font-oswald;
		font-weight: 300;
		text-transform: uppercase;
		text-shadow: 2px 2px 4px #999;
		text-align: center;
		margin: 2rem 0;
	}
	.hero{
		-webkit-box-shadow: inset 0px 3px 12px 0px rgba(50, 50, 50, 1);
		-moz-box-shadow:    inset 0px 3px 12px 0px rgba(50, 50, 50, 1);
		box-shadow:         inset 0px 3px 12px 0px rgba(50, 50, 50, 1);
		img{
			width: 100%;
		}
	}
}